body, html{
    height: 100%;
}

.bg{
    background-image: url(https://clipart-db.ru/file_content/rastr/background_065.jpg);

    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}