<body>

<div class="bg">

<div style="text-align: center" class="mainh">
  Welcome to {{title}} !
</div>
<h1 class="title">Поиск(расширенный)</h1>

<h2 id="header">Найти книгу по вкусу</h2>
<h6 id="header">В названии, которого есть слово: </h6>
<form class="form-inline md-form mr-auto mb-4">
  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
  <button mdbBtn size="sm" gradient="aqua" rounded="true" class="my-0 waves-light" mdbWavesEffect type="submit">Search</button>
</form>
<h6 id="header">Автор книги: </h6>
<form class="form-inline md-form mr-auto mb-4">
  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
  <button mdbBtn size="sm" color="warning" outline="true" rounded="true" class="my-0 waves-light"
    mdbWavesEffect type="submit">Search</button>
</form>

<h6 id="header">Выбор языка: </h6>

<div class="form-check">
  <input type="radio" class="form-check-input" id="materialUnchecked" name="materialExampleRadios" mdbInput>
  <label class="form-check-label" for="materialUnchecked">Русский язык</label>
</div>

<div class="form-check">
  <input type="radio" class="form-check-input" id="materialUnchecked" name="materialExampleRadios" mdbInput>
  <label class="form-check-label" for="materialUnchecked">Казахский язык</label>
</div>

<div class="form-check">
  <input type="radio" class="form-check-input" id="materialUnchecked" name="materialExampleRadios" mdbInput>
  <label class="form-check-label" for="materialUnchecked">Английский язык</label>
</div>
<br>

<h6 id="header">Рейтинг книги:</h6>

<div class="form-check">
  <input type="radio" class="form-check-input" id="materialUnchecked" name="materialExampleRadios" mdbInput>
  <label class="form-check-label" for="materialUnchecked">6+</label>
</div>
<div class="form-check">
  <input type="radio" class="form-check-input" id="materialUnchecked" name="materialExampleRadios" mdbInput>
  <label class="form-check-label" for="materialUnchecked">13+</label>
</div>
<div class="form-check">
  <input type="radio" class="form-check-input" id="materialUnchecked" name="materialExampleRadios" mdbInput>
  <label class="form-check-label" for="materialUnchecked">18+</label>
</div>
<br>

<h6 id="header">Предпочитаемый жанр:</h6>

<div class="form-check">
  <input type="checkbox" class="form-check-input" id="materialUnchecked" name="materialExampleRadios" mdbInput>
  <label class="form-check-label" for="materialUnchecked">Романтика</label>
</div>
<div class="form-check">
  <input type="checkbox" class="form-check-input" id="materialUnchecked" name="materialExampleRadios" mdbInput>
  <label class="form-check-label" for="materialUnchecked">Ужасы</label>
</div>
<div class="form-check">
  <input type="checkbox" class="form-check-input" id="materialUnchecked" name="materialExampleRadios" mdbInput>
  <label class="form-check-label" for="materialUnchecked">Фантастика</label>
</div>
<div class="form-check">
  <input type="checkbox" class="form-check-input" id="materialUnchecked" name="materialExampleRadios" mdbInput>
  <label class="form-check-label" for="materialUnchecked">Детективы</label>
</div>
<br>

<h6 id="header">Отсортировать результат по: </h6>

<div class="form-check">
  <input type="radio" class="form-check-input" id="materialUnchecked" name="materialExampleRadios" mdbInput>
  <label class="form-check-label" for="materialUnchecked">По дате</label>
</div>
<div class="form-check">
  <input type="radio" class="form-check-input" id="materialUnchecked" name="materialExampleRadios" mdbInput>
  <label class="form-check-label" for="materialUnchecked">По популярности</label>
</div>
<div class="form-check">
  <input type="radio" class="form-check-input" id="materialUnchecked" name="materialExampleRadios" mdbInput>
  <label class="form-check-label" for="materialUnchecked">По имени</label>
</div>



</div>
</body>